*{
    padding: 0;
    margin: 0;
}
.search-bar-container{
    display:flex;
}
.header-container{
    padding:14px 24px 0px 24px;
}
.search-bar-container{
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0px;
    min-width: fit-content;
}
.search-icon-container{
    padding: 0px 16px 0px 20px;
}
.span-top-text{
    font-size: 14px;
    font-weight: 400;
}
.overflow-span{
    font-size: 12px;
    color: #717171;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
}
.button-search{
    border: none;
    background: transparent;
    margin-left: auto;
   
}
.search-button-div{
    border: 1px solid #DDDDDD;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin:0px 10px;
}
.overflow-text{
    width: 96%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}
.search-header{
    width: 176%;
}
.overflow-text > span+span{
    order: 3;
}
.overflow-text > div+div{
    order: 2;
}
.overflow-text > div{
    order: 4;
}
.overflow-text >span+span+span{
    order: 5;
}
.dot-div{
    color: #717171;
    font-size: 12px;
   
}
.header-slider-container{
    display: flex;
    
}
.button-slider{
    width: 47px;
    height: 44px;
    border:none;
    background-color: transparent;
    margin: 12px;
}
.span-slider{
    width: 24px;
    height: 24px;
}
.span-slider img{
    width:24px;
    height: 24px;
}